body {
    margin: 0;
    background-color: #FAF9F7;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F3EF;
    width: 100%;
    height: 80px;
}

.header-inner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    margin-left: 16px;
    text-decoration: none;
    color: #292929;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    transition: color 0.2s ease, font-weight 0.1s ease;
    padding-left: 23px;
}

.nav a:hover {
    font-weight: 600;
}

#logo {
    width: 155px;
    height: 51px;
    object-fit: contain; 
    display: block;
    margin-right: 45px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 16px;
}


/* Footer */

.footer {
    font-size: 12px;
    background-color: #FFFFFF;
    height: 61px;
    display: flex;
    width: 100%;
}

.footer-inner {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}

.footer-inner a,
.footer-brand span {
    font-family: Inter;
    font-weight: 300; 
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #292929;
    text-decoration: none;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 45px;
    padding-right: 45px;
}

.footer-brand img {
    width: 22px;
}


/* MAIN */

main {
    width: 100%;
}


/* REGISTER PAGE */

.register-page,
.login-page {
    display: flex;
    width: 100%;
}

.register-form,
.login-form {
    background-color: #FAF9F7;
    padding: 24px;
    border-radius: 8px;
    padding-left: 50px;
    width: 50%;
}

.register-form h1,
.login-form h1 {
    width: 180px;
    height: 48px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 85px;
    margin-bottom: 50px;
}

.register-form label,
.login-form label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #A6A6A6;
    display: block;
    margin-bottom: 15px;
    margin-top: 25px;
}

.register-form input,
.login-form input {
    width: 322px;
    height: 50px;
    padding: 0 12px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    font-size: 14px;
    margin-bottom: 24px; 
    color: #292929; 
    box-sizing: border-box;
}

.btn-primary {
    width: 322px;
    height: 63px;
    background-color: #00AC66;
    border: none;
    border-radius: 10px;
    padding: 22px 38px;
    gap: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 45px;
    transition: background-color 0.25s ease, transform 0.15s ease;
}

.btn-primary:hover {
    background-color: #006D41;
}

.error {
    color: #c0392b;
    margin-bottom: 8px;
}

.login-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #292929; 
    margin-top: 24px;
    margin-bottom: 100px;
}

.login-link a {
    color: #292929;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.register-image, 
.login-image {
    width: 50%;
    overflow: hidden;
}

.register-image img,
.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PAGE "NOS LIVRES A L'ECHANGE" */
.books-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: "Inter", system-ui, sans-serif;
}

.books-page h1 {
    width: 343px;
    height: 48px;
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
}

.books-page form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    gap: 8px;
}

.books-page input[type="text"] {
    padding-left: 40px;
    font-size: 14px;
    border: 1px solid #D0D7E2;
    border-radius: 6px;
    width: 240px;
}

.books-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
            margin-top: 113px;
    margin-bottom: 50px;
}

.books-header h1 {
    width: 343px;
    height: 48px;
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    margin-left: 73px;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: 115px;
}


.search-wrapper {
    position: relative;
    width: 322px;
    height: 50px;
}

.search-wrapper i {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
    pointer-events: none;
}

.search-wrapper input {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    background: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    color: #292929;
    font-size: 14px;
    line-height: 100%;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
}

/* Grille */
.books-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 42px;
    justify-content: center;
    margin-bottom: 100px;
}

.book-card {
    width: 200px;
    height: 324px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}

.book-status-badge {
    position: absolute;
    top: 16px;
    right: 10px; 
    background: #C56D6D;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    font-size: 8.88px;
    line-height: 100%;
    border-radius: 29.58px;
    width: 71.625px;
    height: 18.3958px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.book-card h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000000;
}

.book-author {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    padding-bottom: 6px;
    color: #A6A6A6; 
}

.book-seller {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 8px;
    color: #A6A6A6;
}

.book-card-content {
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* PAGE MON COMPTE */
.account-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account-page h1 {
    font-family: Playfair Display;
    font-size: 26px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 80px;
}

.account-profile, .account-info {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 45%;
}

.profile-photo {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
}

.library-table {
  width: 100%;
  border-collapse: collapse;
}

#avatar-input {
    display: none;
}

/* Badges */
.badge-available {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70.625px;
    height: 18.4px;
    background: #6DC5A1;
    border-radius: 29.58px;
    padding: 3.7px 13.31px;
    font-family: Inter;
    font-weight: 500;
    font-size: 8.88px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
}

.badge-unavailable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71.625px;
    height: 18.4px;
    background: #C56D6D;
    border-radius: 29.58px;
    padding: 3.7px 13.31px;
    font-family: Inter;
    font-weight: 500;
    font-size: 8.88px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
}

.profil-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px auto;
    max-width: 1140px;
    width: 100%;
    justify-content: center;
}

.profil-card {
    position: relative;
    width: 555px;
    height: 508px;
    background: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
}

.profil-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profil-separator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 242px;
    border-top: 1px solid #F5F3EF;
}

.profil-edit {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    text-decoration: underline;
    display: block;
    margin-bottom: 20px;
}

.profil-username {
    margin-top: 117px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    font-family: Playfair Display;
}

.profil-member {
    margin-top: 10px;
    font-family: Inter;
    font-size: 14px;
    color: #A6A6A6;
}

.profil-library-title {
    margin-top: 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 8%;
    color: #292929;
}

.profil-library-count {
    font-family: Inter;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 5px;
}

/* Bloc de droite */
.info-card {
    width: 555px;
    height: 508px;
    background: #FFFFFF;
    border-radius: 20px;
    padding-left: 81px;
    padding-top: 33px;
    box-sizing: border-box;
}

.info-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #292929;
    margin-bottom: 30px;
}

.info-label {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-bottom: 8px;
    display: block;
}

.info-input {
    width: 322px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    background-color: #EDF2F6;
    padding: 10px;
    font-family: Inter;
    font-size: 14px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.info-button {
    width: 150px;
    height: 63px;
    border-radius: 10px;
    background: #F5F3EF;
    border: 1px solid #00AC66;
    padding: 22px 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-button-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #00AC66;
}

/* Bouton Ajouter un livre */
.add-book-wrapper {
    width: 156px;
    height: 45px;
    background-color: #00AC66;
    border: none;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    margin-left: 150px;
    transition: background-color 0.25s ease, transform 0.15s ease;
}

.add-book-wrapper a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.add-book-wrapper:hover {
    background-color: #006D41;
}

/* Tableau */
.library-block {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 1140px;
    margin: 0 auto;
}

.library-table {
    width: 100%;
    border-collapse: collapse;
}

.library-table thead th {
    font-family: Inter;
    font-weight: 600;
    font-size: 8px;
    letter-spacing: 8%;
    color: #292929;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0;
}

.library-table thead tr {
    border-bottom: 1px solid #F5F3EF;
}

.library-table tbody td {
    height: 130px;
    box-sizing: border-box;
}

.library-table tbody tr:nth-child(odd) {
    background: #FFFFFF;
}

.library-table tbody tr:nth-child(even) {
    background: #EDF2F6;
}

.library-img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.library-title-cell,
.library-author-cell,
.library-desc-cell {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #292929;
}

.library-desc-cell {
    font-style: italic;
}

.action-edit {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    color: #292929;
    padding-right: 15px;
}

.action-delete {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    color: #CB2D2D;
}


/* Pages création et édition de livres */

/* Retour */
.edit-back {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #A6A6A6;
    text-decoration: none;
    margin-left: 150px;
}

/* Titre */
.edit-title {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    color: #000;
    margin: 20px 0 30px 150px;
}

/* Layout */
.edit-container {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    border: none;
    background: #fff;
    gap: 30px;
    max-width: 1141px;
    margin-bottom: 20px;
}

/* Label Photo */
.photo-label {
    color: #A6A6A6;
    padding: 4px 8px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

/* Colonne à gauche */
.edit-left {
    width: 488px;
    margin-left: 25px;
}

.photo-box {
    position: relative;
}

/* Modifier la photo */
.edit-photo-link {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 12px;
    color: #292929;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

/* Formulaire à droite */
.edit-form {
    min-width: 435px;
    padding: 20px;
}

.edit-label {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 15px;
    display: block;
}

.edit-input,
.edit-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.edit-textarea {
    height: 150px;
}

/* Bouton */
.edit-submit {
    width: 322px;
    height: 63px;
    border-radius: 10px;
    padding: 22px 38px;
    gap: 10px;
    display: flex;
    border: none;
    background-color:#00AC66;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 30px;
}